<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="output_location_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_WriterFileChooser"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="output_location">
            <config key="file_system_chooser__Internals">
                <entry key="has_fs_port" type="xboolean" value="false"/>
                <entry key="overwritten_by_variable" type="xboolean" value="false"/>
                <entry key="convenience_fs_category" type="xstring" value="LOCAL"/>
                <entry key="relative_to" type="xstring" value="knime.workflow.data"/>
                <entry key="mountpoint" type="xstring" value="knime-temp-space"/>
                <entry key="spaceId" type="xstring" value=""/>
                <entry key="spaceName" type="xstring" value=""/>
                <entry key="connected_fs" type="xboolean" value="true"/>
            </config>
            <config key="path">
                <entry key="location_present" type="xboolean" value="true"/>
                <entry key="file_system_type" type="xstring" value="LOCAL"/>
                <entry key="path" type="xstring" value="C:\Users\pilar\knime-workspace\TP1\TP1\data\Saida"/>
            </config>
            <config key="filter_mode_Internals">
                <entry key="SettingsModelID" type="xstring" value="SMID_FilterMode"/>
                <entry key="EnabledStatus" type="xboolean" value="true"/>
            </config>
            <entry key="create_missing_folders" type="xboolean" value="false"/>
            <entry key="if_path_exists" type="xstring" value="overwrite"/>
        </config>
        <config key="json_column_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="json_column" type="xstring" value="JSON"/>
        <config key="remove_json_column_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="remove_json_column" type="xboolean" value="false"/>
        <entry key="generate_file_names" type="xboolean" value="true"/>
        <config key="filename_pattern_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="filename_pattern" type="xstring" value="only_ford?"/>
        <config key="filename_column_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="false"/>
        </config>
        <config key="filename_column">
            <entry key="useRowID" type="xboolean" value="false"/>
            <entry key="columnName" type="xstring" value="JSON"/>
        </config>
        <config key="compress_json_files_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="compress_json_files" type="xboolean" value="false"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.json.node.filehandling.writer.JSONWriterNodeFactory2"/>
    <entry key="node-name" type="xstring" value="JSON Writer"/>
    <entry key="node-bundle-name" type="xstring" value="JSON related functionality for KNIME"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.json.filehandling"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.3.0.v202406101325"/>
    <entry key="node-feature-name" type="xstring" value="KNIME JSON-Processing"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.json.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.3.0.v202406280759"/>
    <config key="factory_settings"/>
    <config key="node_creation_config">
        <config key="File System Connection"/>
        <config key="Input Data Table"/>
        <config key="Output Table"/>
    </config>
    <entry key="name" type="xstring" value="JSON Writer"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 1, Cols: 3"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="d816830e-a029-4146-a0c0-1899e3d30666"/>
    </config>
</config>
